{
  "openapi": "3.0.0",
  "info": {
    "title": "A-OK - Agentic Commerce Protocol API",
    "description": "Buy A-OK streetwear through the Agentic Commerce Protocol (ACP, version 2026-04-17). Every color and size has its own item ID in the ACP product feed (/api/acp/products). Create a checkout session with those IDs, add the shopper's shipping address, then complete it with a Stripe shared payment token. For a simpler flow, /api/acp/checkout returns a Stripe-hosted checkout page instead. Full ACP schemas: https://github.com/agentic-commerce-protocol/agentic-commerce-protocol/tree/main/spec/2026-04-17",
    "version": "1.1.0",
    "contact": {
      "email": "info@a-ok.ai"
    }
  },
  "servers": [
    {
      "url": "https://a-ok.ai",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/acp/catalog": {
      "get": {
        "operationId": "getCatalog",
        "summary": "Get product catalog",
        "description": "Retrieve the full product catalog including all products, variants, pricing, images, and sizing information. Use this to browse available merchandise.",
        "responses": {
          "200": {
            "description": "Product catalog retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/acp/checkout": {
      "post": {
        "operationId": "createCheckout",
        "summary": "Create checkout session",
        "description": "Hosted checkout: returns a Stripe checkout page where the shopper enters shipping and payment. Simpler than the ACP checkout sessions below; tees and hoodies need a `size`. Create a Stripe Checkout Session for purchasing products. Returns a hosted checkout URL that can be used to complete the purchase. Supports multiple items and custom success/cancel URLs. Items are priced from the catalog; shipping to the US and Canada is added at checkout (free over $50), and the shopper enters shipping and payment on the hosted page.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/acp/products": {
      "get": {
        "operationId": "getAcpProducts",
        "summary": "ACP product feed",
        "description": "Products in the ACP 2026-04-17 ProductsResponse format. Each variant is one color and size; its `id` is the item ID for checkout sessions.",
        "responses": {
          "200": {
            "description": "Products with one variant per color and size",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpProductsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/acp/checkout_sessions": {
      "post": {
        "operationId": "createCheckoutSession",
        "summary": "Create an ACP checkout session",
        "description": "Starts a checkout from item IDs. The response is the full session: line items with Color and Size, shipping, totals in cents, and messages saying what the shopper still needs to provide. `status` is `ready_for_payment` once a US or Canadian address is set.",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcpCreateSessionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpCheckoutSession"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, missing size, unknown item, or unsupported API-Version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpError"
                }
              }
            }
          },
          "401": {
            "description": "ACP_API_KEYS is set and the bearer key is missing or wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpError"
                }
              }
            }
          },
          "409": {
            "description": "A request with this Idempotency-Key is still being processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpError"
                }
              }
            }
          },
          "422": {
            "description": "Idempotency-Key reused with a different body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (120 requests a minute)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpError"
                }
              }
            }
          }
        }
      }
    },
    "/api/acp/checkout_sessions/{checkout_session_id}": {
      "get": {
        "operationId": "getCheckoutSession",
        "summary": "Retrieve an ACP checkout session",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "checkout_session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cs_0db0995cd4964943aae720fcec833bdd"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "The session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpCheckoutSession"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateCheckoutSession",
        "summary": "Update items, buyer, address or notes",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "description": "Fields left out stay as they are; `null` clears a field. `line_items`, when sent, replaces the whole list.",
        "parameters": [
          {
            "name": "checkout_session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cs_0db0995cd4964943aae720fcec833bdd"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcpUpdateSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpCheckoutSession"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpError"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, missing size, unknown item, or unsupported API-Version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpError"
                }
              }
            }
          },
          "401": {
            "description": "ACP_API_KEYS is set and the bearer key is missing or wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpError"
                }
              }
            }
          },
          "409": {
            "description": "A request with this Idempotency-Key is still being processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpError"
                }
              }
            }
          },
          "422": {
            "description": "Idempotency-Key reused with a different body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (120 requests a minute)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpError"
                }
              }
            }
          }
        }
      }
    },
    "/api/acp/checkout_sessions/{checkout_session_id}/complete": {
      "post": {
        "operationId": "completeCheckoutSession",
        "summary": "Pay and place the order",
        "description": "Charges the session total to the buyer's Stripe shared payment token (granted to this shop's Stripe profile, the handler's `merchant_id`). On success `status` is `completed` and `order` is set. A declined card returns the session, still `ready_for_payment`, with a `payment_declined` message. Cards that need 3D Secure aren't supported yet.",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "checkout_session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cs_0db0995cd4964943aae720fcec833bdd"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcpCompleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Completed, or declined with a message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpCheckoutSession"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpError"
                }
              }
            }
          },
          "503": {
            "description": "Payments not configured, or Stripe unavailable; retry with the same Idempotency-Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpError"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, missing size, unknown item, or unsupported API-Version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpError"
                }
              }
            }
          },
          "401": {
            "description": "ACP_API_KEYS is set and the bearer key is missing or wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpError"
                }
              }
            }
          },
          "409": {
            "description": "A request with this Idempotency-Key is still being processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpError"
                }
              }
            }
          },
          "422": {
            "description": "Idempotency-Key reused with a different body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (120 requests a minute)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpError"
                }
              }
            }
          }
        }
      }
    },
    "/api/acp/checkout_sessions/{checkout_session_id}/cancel": {
      "post": {
        "operationId": "cancelCheckoutSession",
        "summary": "Cancel an open session",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "checkout_session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cs_0db0995cd4964943aae720fcec833bdd"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Canceled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpCheckoutSession"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpError"
                }
              }
            }
          },
          "405": {
            "description": "Already completed or canceled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcpError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CatalogResponse": {
        "type": "object",
        "properties": {
          "protocol": {
            "type": "string",
            "example": "acp-draft-2024-12"
          },
          "merchant": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "a-ok-shop"
              },
              "name": {
                "type": "string",
                "example": "A-OK"
              },
              "currency": {
                "type": "string",
                "example": "USD"
              }
            }
          },
          "catalog": {
            "type": "object",
            "properties": {
              "products": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique product identifier",
            "example": "gid://a-ok/Product/8755818758363"
          },
          "handle": {
            "type": "string",
            "description": "URL-friendly product handle",
            "example": "a-ok-glitch-art-face-mask-t-shirt"
          },
          "title": {
            "type": "string",
            "description": "Product name",
            "example": "A-OK GLITCHED VECTORS TEE"
          },
          "description": {
            "type": "string",
            "description": "Product description"
          },
          "variants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductVariant"
            }
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "alt": {
                  "type": "string"
                }
              }
            }
          },
          "options": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "Size"
                },
                "values": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "S",
                    "M",
                    "L",
                    "XL"
                  ]
                }
              }
            }
          }
        }
      },
      "ProductVariant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique variant identifier - use this in checkout requests",
            "example": "gid://a-ok/ProductVariant/46776424202459"
          },
          "title": {
            "type": "string",
            "example": "Red / M"
          },
          "price": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "string",
                "example": "29.99"
              },
              "currencyCode": {
                "type": "string",
                "example": "USD"
              }
            }
          },
          "availableForSale": {
            "type": "boolean"
          },
          "quantityAvailable": {
            "type": "integer"
          }
        }
      },
      "CheckoutRequest": {
        "type": "object",
        "required": [
          "cart"
        ],
        "properties": {
          "cart": {
            "type": "object",
            "required": [
              "items"
            ],
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "variantId",
                    "quantity"
                  ],
                  "properties": {
                    "variantId": {
                      "type": "string",
                      "description": "Product variant ID from the catalog",
                      "example": "gid://a-ok/ProductVariant/46776424202459"
                    },
                    "quantity": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 20,
                      "example": 2
                    },
                    "size": {
                      "type": "string",
                      "enum": [
                        "XS",
                        "S",
                        "M",
                        "L",
                        "XL",
                        "2XL"
                      ],
                      "description": "Required for tees and hoodies, which are printed to order in any of these sizes. Ask the shopper rather than guessing.",
                      "example": "L"
                    },
                    "color": {
                      "type": "string",
                      "description": "The color the shopper picked, as listed in the variant's Color option. Used to pick the right variant.",
                      "example": "Navy"
                    }
                  }
                }
              }
            }
          },
          "success_url": {
            "type": "string",
            "description": "URL to redirect to after successful payment"
          },
          "cancel_url": {
            "type": "string",
            "description": "URL to redirect to if payment is cancelled"
          },
          "customer": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              }
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom metadata to attach to the checkout session"
          }
        }
      },
      "CheckoutResponse": {
        "type": "object",
        "properties": {
          "protocol": {
            "type": "string",
            "example": "acp-draft-2024-12"
          },
          "checkout_session": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Stripe Checkout Session ID"
              },
              "status": {
                "type": "string",
                "enum": [
                  "open",
                  "complete",
                  "expired"
                ]
              },
              "url": {
                "type": "string",
                "description": "Hosted checkout URL - redirect the user here to complete payment"
              },
              "expires_at": {
                "type": "integer",
                "description": "Unix timestamp when the session expires"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "AcpItem": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Item ID from /api/acp/products: the variant number plus the size for clothing",
            "example": "47200000000110-L"
          },
          "quantity": {
            "type": "integer",
            "minimum": 1,
            "maximum": 20,
            "default": 1
          }
        }
      },
      "AcpAddress": {
        "type": "object",
        "required": [
          "name",
          "line_one",
          "city",
          "state",
          "country",
          "postal_code"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "line_one": {
            "type": "string"
          },
          "line_two": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "description": "US or CA",
            "example": "US"
          },
          "postal_code": {
            "type": "string"
          }
        }
      },
      "AcpFulfillmentDetails": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "address": {
            "$ref": "#/components/schemas/AcpAddress"
          }
        }
      },
      "AcpBuyer": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone_number": {
            "type": "string"
          }
        }
      },
      "AcpCreateSessionRequest": {
        "type": "object",
        "required": [
          "line_items"
        ],
        "properties": {
          "currency": {
            "type": "string",
            "enum": [
              "usd"
            ]
          },
          "line_items": {
            "type": "array",
            "minItems": 1,
            "maxItems": 20,
            "items": {
              "$ref": "#/components/schemas/AcpItem"
            }
          },
          "buyer": {
            "$ref": "#/components/schemas/AcpBuyer"
          },
          "fulfillment_details": {
            "$ref": "#/components/schemas/AcpFulfillmentDetails"
          },
          "order_notes": {
            "type": "string",
            "maxLength": 500
          },
          "capabilities": {
            "type": "object",
            "description": "The agent's capabilities (ACP spec)."
          }
        }
      },
      "AcpUpdateSessionRequest": {
        "type": "object",
        "properties": {
          "line_items": {
            "type": "array",
            "minItems": 1,
            "maxItems": 20,
            "items": {
              "$ref": "#/components/schemas/AcpItem"
            }
          },
          "buyer": {
            "$ref": "#/components/schemas/AcpBuyer"
          },
          "fulfillment_details": {
            "$ref": "#/components/schemas/AcpFulfillmentDetails"
          },
          "order_notes": {
            "type": "string",
            "maxLength": 500
          },
          "selected_fulfillment_options": {
            "type": "array",
            "description": "The only option is `standard`.",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "AcpCompleteRequest": {
        "type": "object",
        "required": [
          "payment_data"
        ],
        "properties": {
          "buyer": {
            "$ref": "#/components/schemas/AcpBuyer"
          },
          "payment_data": {
            "type": "object",
            "properties": {
              "handler_id": {
                "type": "string",
                "enum": [
                  "card_tokenized"
                ]
              },
              "instrument": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "card"
                  },
                  "credential": {
                    "type": "object",
                    "required": [
                      "token"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "spt"
                        ]
                      },
                      "token": {
                        "type": "string",
                        "example": "spt_123"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AcpCheckoutSession": {
        "type": "object",
        "description": "The full ACP CheckoutSession; see https://github.com/agentic-commerce-protocol/agentic-commerce-protocol/tree/main/spec/2026-04-17/json-schema/schema.agentic_checkout.json",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "not_ready_for_payment",
              "ready_for_payment",
              "completed",
              "canceled"
            ]
          },
          "currency": {
            "type": "string",
            "example": "usd"
          },
          "line_items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "item": {
                  "$ref": "#/components/schemas/AcpItem"
                },
                "quantity": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "unit_amount": {
                  "type": "integer",
                  "description": "Amount in cents"
                },
                "variant_options": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "Size"
                      },
                      "value": {
                        "type": "string",
                        "example": "L"
                      }
                    }
                  }
                }
              }
            }
          },
          "fulfillment_details": {
            "$ref": "#/components/schemas/AcpFulfillmentDetails"
          },
          "totals": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "example": "total"
                },
                "display_text": {
                  "type": "string"
                },
                "amount": {
                  "type": "integer",
                  "description": "Amount in cents"
                }
              }
            }
          },
          "messages": {
            "type": "array",
            "description": "What still needs doing, e.g. a missing address or a declined card",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "info",
                    "error"
                  ]
                },
                "code": {
                  "type": "string"
                },
                "param": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                }
              }
            }
          },
          "capabilities": {
            "type": "object",
            "description": "`payment.handlers` lists the Stripe card handler while the session is open"
          },
          "order": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "checkout_session_id": {
                "type": "string"
              },
              "permalink_url": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "AcpError": {
        "type": "object",
        "required": [
          "type",
          "code",
          "message"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "invalid_request",
              "processing_error",
              "service_unavailable"
            ]
          },
          "code": {
            "type": "string",
            "example": "size_required"
          },
          "message": {
            "type": "string"
          },
          "param": {
            "type": "string",
            "example": "$.line_items[0].id"
          },
          "supported_versions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AcpProductsResponse": {
        "type": "object",
        "description": "ACP ProductsResponse; see https://github.com/agentic-commerce-protocol/agentic-commerce-protocol/tree/main/spec/2026-04-17/json-schema/schema.feed.json",
        "properties": {
          "products": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "variants": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "47200000000110-L"
                      },
                      "title": {
                        "type": "string"
                      },
                      "price": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "integer",
                            "description": "Amount in cents"
                          },
                          "currency": {
                            "type": "string"
                          }
                        }
                      },
                      "variant_options": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "parameters": {
      "ApiVersion": {
        "name": "API-Version",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "2026-04-17"
          ]
        }
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": true,
        "description": "Required on every POST. A retry with the same key and body returns the first answer.",
        "schema": {
          "type": "string",
          "maxLength": 255
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Required only when the shop sets ACP_API_KEYS."
      }
    }
  }
}
